<div class="bar">
    <span class="logo"></span>
    <span class="sitename">The Little Helper</span>
    <span class="search_con">
        <form action="/generalfeed">
            <input type="text" placeholder="Search..">              
        </form>
        <a href="/generalfeed">
            <button type="submit">Submit</button> 
        </a>
    </span>
    <a href="/" class="home">LOG-OUT</a>
    <a href="/profile" class="profile"></a>
</div>