<!DOCTYPE html>
<html>
    <head>
        <title>The Little Helper
            
        </title>
	    <link rel="stylesheet" href="css/index_css.css">
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    <body>
        <!--
        <div class="bar">
            <span class="logo"></span>
            <span class="sitename">The Little Helper</span>
            <span class="search_con">
                <form action="process.php">
                    <input type="text" placeholder="Search..">              
                </form>
                <button type="submit">Submit</button>   
            </span>
            <a href="#" id="button2" class="home">LOG-IN</a>
            <a href="#" id="button3" class="home">REGISTER</a>-->
            <!-- <span class="profile"></span> -->

           <%if (isLoggedIn) { %>
                <div class="bar">
                    <span class="logo"></span>
                    <span class="sitename">The Little Helper</span>
                    <span class="search_con">
                        <form action="/generalfeed">   
                            <input type="text" method="GET" name="search" placeholder="Posts"></> 
                            <button type="submit" value="Search">Search</button>
                        </form>
                    </span>
                    <a href="/" class="home">HOME</a>
                    <a href="/logout" class="home">LOG-OUT</a>
                    
                    <a href="/profile" class="profile"></a>
                </div>
            <% } else { %>
                <div class="bar">
                    <span class="logo"></span>
                    <span class="sitename">The Little Helper</span>
                    <span class="search_con">
                        <form action="/generalfeed">   
                            <input type="text" method="GET" name="search" placeholder="Posts"></> 
                            <button type="submit" value="Search">Search</button>
                        </form>
                    </span>
                    <a href="#" id="button2" class="home">LOG-IN</a>
                    <a href="#" id="button3" class="home">REGISTER</a>
                </div>
            <% } %>

        <div class="categories" style="padding: 100px; ">
            <h1 style="text-decoration: underline;">THE LITTLE HELPER</h1>
            <h2 style="padding: 20px;">The Little Helper is a web application that allows users to share their own personal instructions on how to complete activities in the Home Economics field. Cooking, baking, sewing, gardening, and budgeting are all examples of this subject. Posts on this app show other users how to do anything in their chosen category step by step.</h2>

            <h3 style="padding: 20px;">ExpressJS is an online application framework that lets you develop websites, web apps, and backends using a simple API. It gives us the resources we need to create our app. It's adaptable because there are a lot of modules on npm that can be directly integrated into Express. Unlike competitors like Rails and Django, which have an opinionated approach to application development, Express is adaptable.
            </h3>
            <h3 style="padding: 20px;">Body-parser is a body parsing middleware for Node.js. It's in charge of parsing incoming request bodies in a middleware before you deal with them.</h3>
            <h3 style="padding: 20px;">Passport is a Node.js authentication middleware. Passport is a highly versatile and modular web application framework that can be seamlessly integrated into any Express-based online application.
            </h3>
            <h3 style="padding: 20px;">Using bcrypt to store passwords in a database is secure independent of the language my app's backend is written in – PHP, Ruby, Python, Node.js, and so on.
            </h3>
            <h3 style="padding: 20px;">Morgan is a Node.js and Express middleware that streamlines the process of logging HTTP requests and errors. Middleware in Node.js and Express is a function that has access to the request and response lifecycle methods, as well as the next() method in an Express server to continue logic.
            </h3>
            <h3 style="padding: 20px;">Express-session is a nodejs package that aids with a unique session management within a nodejs application. A unique session is issued to each user of an API or website, saving the user's state. 
            </h3>
            

        </div>
        <%- include ("./partials/popup"); %>
        
        <script type="text/javascript" src="js/index_js.js"></script>
    </body>
    
</html>
