<!DOCTYPE html>
<html>
    <head>
        <title>The Little Helper</title>
	    <link rel="stylesheet" href="css/index_css.css">
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    <body>
        <div style="background-color: white; width: 100vw; height: 100vw; padding: 200px;">
            <div style="font-size: 70px; color: firebrick; margin: 20px auto;">
                ERROR
            </div>
            <div style="font-size: 20px; color: firebrick; margin: 20px auto;">
                Invalid email or password
            </div>
            <a href="/" style="font-size: 20px; color: darkgray; margin: 20px auto; text-decoration:underline ;">
                Go back
            </a>
            
        </div>
        
    </body>
    
</html>
