<!DOCTYPE html>
<html>
    <head>
        <title>The Little Helper</title>
	    <link rel="stylesheet" href="css/index_css.css">
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    <body>
        <!--
        <div class="bar">
            <span class="logo"></span>
            <span class="sitename">The Little Helper</span>
            <span class="search_con">
                <form action="process.php">
                    <input type="text" placeholder="Search..">              
                </form>
                <button type="submit">Submit</button>   
            </span>
            <a href="#" id="button2" class="home">LOG-IN</a>
            <a href="#" id="button3" class="home">REGISTER</a>-->
            <!-- <span class="profile"></span> -->

           <%if (isLoggedIn) { %>
                <div class="bar">
                    <span class="logo"></span>
                    <span class="sitename">The Little Helper</span>
                    <span class="search_con">
                        <form action="/generalfeed">   
                            <input type="text" method="GET" name="search" placeholder="Posts"></> 
                            <button type="submit" value="Search">Search</button>
                        </form>
                    </span>
                    <a href="/logout" class="home">LOG-OUT</a>
                    
                    <a href="/profile" class="profile"></a>
                </div>
            <% } else { %>
                <div class="bar">
                    <span class="logo"></span>
                    <span class="sitename">The Little Helper</span>
                    <span class="search_con">
                        <form action="/generalfeed">   
                            <input type="text" method="GET" name="search" placeholder="Posts"></> 
                            <button type="submit" value="Search">Search</button>
                        </form>
                    </span>
                    <a href="#" id="button2" class="home">LOG-IN</a>
                    <a href="#" id="button3" class="home">REGISTER</a>
                </div>
            <% } %>

        <div class="categories">
            <div class="searchgen">
                <span>
                    <a href="/generalfeed" style="margin-left: -200px; margin-right: 18px ;">SEE ALL POSTS</a>
                    |
                </span>
                    
                <span>
                    <a href="/generalprof" id="button10"style="margin-left: -20px;">SEARCH PROFILE</a>
                </span>
                <!--
                <span class="search_prof" style="display: none;">
                    <form action="/generalprof">   
                        <input type="text" method="GET" name="search" placeholder=""></> 
                        <a href="" id="close5">X</a>
                        <button type="submit" id="button11"value="Search">Search</button>
                       
                    </form>               
                </span> 
            -->
            </div>
            
            
            <a href="/cooking" class="cooking_con">
                <span class="cooking_text">COOKING</span>
                <span id="cooking_pic"></span>
            </a>
            <a href="/baking" class="baking_con">
                <span id="baking_pic"></span>
                <p class="baking_text">BAKING</p>
            </a>
            <a href="/sewing" class="sewing_con">
                <div class="sewing_text">SEWING</div>
                <div id="sewing_pic"></div>
            </a>
            <a href="/gardening" class="garden_con">
                <span id="garden_pic"></span>
                <span class="garden_text">GARDENING</span>
            </a>
            <a href="/budgeting" class="budget_con">
                <div class="budget_text">BUDGETING</div>
                <div id="budget_pic"></div>
            </a>
        </div>
        <div style="margin: 30px 50%;">
            <a href="/about">About</a>
        </div>
        <%- include ("./partials/popup"); %>
        <script type="text/javascript" src="js/index_js.js"></script>
    </body>
    
</html>
