body{
    margin:0px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    background-color: #fddb3a;
}

.bakingfeed_con{
    position: relative;
}

.cookingfeed_con{
    position: relative;
}

.cookingfeed_con{
    position: relative;
}

.cookingfeed_pic{
    width: 100%;
    height:100%;
    /*
    background: #fddb3a;
    opacity: 0.75;
    */
    position: absolute;
}

.sewingfeed_con{
    position: relative;
}

.gardeningfeed_con{
    position: relative;
}

.budgetingfeed_con{
    position: relative;
}

#text{
    position: absolute;
    bottom: 15px;
    left: 30px;
    font-size: 75px;
    z-index: 99;
}

#quote{
    position: absolute;
    text-align: right;
    top: 30px;
    right: 30px;
    font-size: 50px;
    z-index: 99;
}

#name{
    position: absolute;
    text-align: right;
    bottom: 30px;
    right: 30px;
    font-size: 17px;
    z-index: 99;
}

.grid_con{
    
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.2);
    padding-top: 50px;
    padding-bottom: 50px;
    
    margin-top: -5px;
    width: 100%;
    height: max-content;
    
    position: relative;
    background-color: white;
}

.grid{
    margin: 0 75px;
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 60px;
    
}

.post{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: 0.5s;
}

.profile_search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    transition: 0.5s;
    flex-direction: column;
    transition: 0.5s;
}

/*
.profile_search_img{
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50% 50%;
}
*/

.profile_search_img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    border: 10px solid black;
    
    width: 150px;
    height: 150px;
    border-radius: 50% 50%;
}

.psi_text{
    text-transform: uppercase;
    font-size: 0;
}
.psi_text::first-letter{
    font-size: 50px;
}

.profile_search:hover{
    transform: scale(1.1);
}

.post:hover{
    transform: scale(1.1);
}


.post_image{
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 10px 10px 0 0;
}

.post_content{
    line-height: 1;
    font-size: 1.1em;
    padding: 15px;
    text-align: left; 
}

.post_content > p:first-of-type{
    margin-top: 0;
}

.post_content > p:last-of-type{
    margin-top: 0;
}

#gfeed .post_info{
    background-color: lightgray;
}

.post_info{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #eeeeee;*/
    background-color: #fddb3a;
    font-size: 1em;
    border-radius: 0 0 10px 10px;
    border-bottom: 4px solid black;
}

.post_info i {
    font-size: 1.2em;
    margin-right: 0px;
}
