@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    margin:0px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    /*background-color: #fddb3a;*/
    /*background-image: url("../images/bg.jpg");*/
    background: linear-gradient(to right, #fddc3ad2, #fddc3ad2), url("../images/bg.jpg") no-repeat top center;
    
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    position: sticky;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
}


label.homepage{
    color: black;
    font-size: 35px;
    
    
    font-weight: bold;
}


.search_con{
    display: flex;
    justify-content: center;
}



a.active{
    background: #fddb3a;
    transition: 0.5s;
}

.home:hover{
    background: #fddb3a;
    transition: 0.5s;
}

.profile a:hover{
    opacity: 0.5;
    transition: 0.5s;
}

.addpost_button a.active, .addpost_button a:hover{
    background: white;
    transition: 0.5s;
}

.container{
    padding: 0px;
}

.profile-header{
    /*background: #fddb3a;*/
    width: 100%;
    display: flex;
    justify-content: center;
    height: 200px;
}



.profile-img{
    width: 300px;
    height: 170px;
    margin: 40px 45%;
}

.profile-img img{
    position: absolute;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 4px solid black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
}

.info-border{

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 80px;

    width: 80%;
    margin: 10px auto;
    height: 170px;
    position: relative;
    background: white;
    
    z-index: -1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 0 0;
}

.profile-info{
    display: flex;
    margin: 50px 47%;
    justify-content: center;
    align-items: center;
}

.full-name{
    display: flex;
    font-variant: small-caps;
    font-size: 1.8rem;
    white-space: nowrap;
}

.username{

    font-size: 20px;
    
    margin-left: 10px;
    text-align: center;

    position: relative;
}

.user-desc{

    text-align: center;
    padding-top: 10px;
    color: #4e4e4a;
    font-size: 20px;
}

.profile-option{
    justify-content: center;
    right: 12%;
    top: 300px;
    position: absolute;
    width: 100%;
}

.profile-option ul li a{
    float: right;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 10px;
    background: black;
}

.profile-option ul li a:hover {
    background-color:#fddb3a;
    transition: .3s;
}

.main-nav{
    margin: -10px auto;
    width: 80%;
    z-index: -1;
    
}

.main-nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 65px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: 25px;
}

.main-nav ul li{
    padding: 20px;
    width: 100%;
    cursor: pointer;
    text-align: center;    
    transition: all .2s ease-in-out;
}

.main-nav ul li.active, 
.main-nav ul li:hover {
    box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.9) inset;
}

.profile.body{
    width: 100%;
    z-index: -1;
}

.tab{
    padding: 10px;
    width: 80%;
    height: max-content;
    text-align: center;
    display: none;
}

.bg-modal{
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;

    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;

}

.bg-modal2{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;

    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}

.modal-content{
    max-width: 700px;
    width: 100%;
    margin: auto 75px;
    background-color: white;
    border-radius: 5px;
    padding: 25px 30px;
    position: relative;
    text-align: center;
}

.modal-content img{
    margin: 0px 34%;
}

.bg-modal input{
    width: 50%;
    display: block;
    margin: 20px auto;
}

.close0{
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}

.bg-modal .button input{
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px auto;
    height: 40px;
    width: 90px;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.bg-modal .button input:hover {
    opacity: 0.6;
    transition: .3s;
}


.modal-content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    margin: 20px 0 15px 0;
    width: calc(100% / 2 - 20px);
}

.user-details.input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
}

.bg-modal .user-details .input-box input:not(#img){
    border: 2px solid lightgrey;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    display: block;
    padding: 10px;
    height: 40px;
    width: 400px;
    max-width: 100%;
    margin: 0px auto;
    background-color: lightgrey;
    transition: background 0.3s;
}

#img{
    padding: 15px;
    margin: 0px 30px;
    width: 400px;
}

h4{
    padding: 15px;
    margin: 0px -40px;
    width: 400px;
}


.videos{
    margin: -100px -200px;
    grid-area: videos;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.video{
    height: 220px;
    grid-column-start: span 3;
    position: relative;
    transition: all 0.3s ease 0s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.video.hover {
    transform: scale(1.02);
}

.video i{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 60px;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.75;
    transition: all 0.3s ease 0s;
}

.video i:hover{
    opacity: 1;
}

@media only screen and (max-width: 1200px){
    .video{
        grid-column-start: span 6;
        height: 240px;
    }
}

@media only screen and (max-width: 800px){
    .video{
        grid-column-start: span 12;
        height: 240px;
    }
}

.addpost_button a{
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
    width: max-content;
    height: max-content;
    
    color: black
}

.addpost_button i{
    margin-top: -3px;
}


.addpost_text{
    margin-left: 7px;
}

.add_search{
    margin: auto auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add_search .search_con{
    margin-top: 20px;
}

.add_search input[type=text]{
    font-family: 'Josefin Sans', sans-serif;
    float: right;
    height: 30px;
    width: 300px;
    color: black;
    background-color: lightgrey;
    padding: 6px;
    border: none;
    border-radius: 10px;
    margin-top: 3px;

    font-size: 14px;
    transition: background 0.5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    /*box-shadow: 5px 10px 100px black;*/
}

.add_search input:focus{
    background: white;
}

.add_search button {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 3px;
    margin-left: 0px;
    padding: 3px;
    height: 30px;
    width: 70px;
    padding: 10px;
    background: black;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
  }

.add_search button:hover{
    background: white;
    color: black;
    transition: 0.5s;
    
}

.bar_company{
    margin-left: -15vw;
    display: flex;
    align-items: center;
}
