@import 
url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

a{
    text-decoration: none;
    color: black;
}

a:link{
    color: black;
}


a:visited{
    color: black
}

.categories a:hover{
    opacity: 0.5;
    transition: 0.5s
}



a:active{
    color: black
}

a:visited{
    color: black
}

input:hover{
    opacity: 0.6;
    transition: 0.5s;
}

body{
    margin:0px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    /*background-color: #fddb3a;*/
    /*background-image: url("../images/bg.jpg");*/
    background: linear-gradient(to right, #fddc3ad2, #fddc3ad2), url("../images/bg.jpg") no-repeat top center;
    
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    position: sticky;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    
}



.bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: max-content;
    /*height: auto;*/
    padding: 10px;
    /*min-height: 58vh;*/
    position: sticky;
    top: 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.home{
    margin-top: 20px;
}

.sitename{
    margin-top: 10px;
    margin-left: -30px;
    font-size: 20px;
}

.bar a{
    display: flex;
    align-items: center;
    margin-top: 3px;
    padding: 10px;
    border-radius: 10px;
}

.searchgen{
    display: flex;
    justify-content:start;
    align-items: center;
    width: 500px;
    margin: 0px auto;

}

.search_prof{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    position: relative;

    margin-left: 20px;

}

.search_prof button {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 3px;
    margin-left: 0px;
    height: 30px;
    width: 100px;
    
    padding: 0px;
    background: black;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.search_prof input[type=text]{
   
        font-family: 'Josefin Sans', sans-serif;
        float: right;
        height: 30px;
        width: 200px;
        color: black;
        background-color: lightgrey;
        padding: 6px;
        border: none;
        border-radius: 10px;
        margin-top: 3px;
        position: relative;
    
        font-size: 17px;
        transition: background 0.5s;
        /*box-shadow: 5px 10px 100px black;*/
 
}

.search_con{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    position: relative;
}

.search_con a{
    margin: -10px;
}


.logo{
    background-image: url("../images/logo2.png"); 
    background-position: 0px 0px;
    background-repeat: no-repeat;

    height: 512px;
    width: 512px;
    zoom:10%;
}

.bar input[type=text]{
    font-family: 'Josefin Sans', sans-serif;
    float: right;
    height: 42px;
    width: 600px;
    color: black;
    background-color: lightgrey;
    padding: 6px;
    border: none;
    border-radius: 10px;
    margin-top: 3px;
    position: relative;

    font-size: 17px;
    transition: background 0.5s;
    /*box-shadow: 5px 10px 100px black;*/
}


.bar input:focus{
    background: white;
}

.bar button {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 3px;
    margin-left: 0px;
    height: 42px;
    width: 100px;
    
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .search_con button{

  }

button:hover{
    opacity: 0.6;
    transition: 0.5s;
}

.profile{
    background-image: url("../images/profile1.png"); 
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height: 512px;
    width: 512px;
    zoom:10%;
}

.profile:hover{
    opacity: 0.5;
    transition: 0.5s;
}

.categories{
    margin-top: 20px;;
}

select{
    border: 2px solid lightgrey;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    display: block;
    padding: 10px;
    height: 42px;
    width: 150px;
    max-width: 100%;
    margin: 0px auto;
    background-color: lightgrey;
    transition: background 0.5s;
}

.cooking_con{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 250px;
    background-color: white;
 
    margin: 20px auto;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.cooking_text{
    margin-left: 90px;
    margin-top: 100px;
    font-size: 50px;
}

#cooking_pic{
    background-image: url("../images/cook6.png"); 
    margin: none;
    width: 1007px;

    background-size: auto 250px;
    background-position: 100px 0px;
    background-repeat: no-repeat;
}

.baking_con{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 250px;
    background-color: white;
 
    margin: 70px auto;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.baking_text{
    margin-right: 180px;
    margin-top: 150px;
    font-size: 50px;
}

#baking_pic{
    background-image: url("../images/bake5.png"); 
    margin: none;
    width:949px;
    height: 509x;
    background-size: auto 250px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.sewing_con{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 250px;
    background-color: white;
 
    margin: 70px auto;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.sewing_text{
    margin-left: 110px;
    margin-top: 160px;
    font-size: 50px;
}

#sewing_pic{
    background-image: url("../images/sew4.png"); 
    margin-top: 40px;
    margin-left: 310px;
    width: 862px;
    
    zoom: 60%;
    background-repeat: no-repeat;
}

.garden_con{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 250px;
    background-color: white;
 
    margin: 70px auto;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.garden_text{
    margin-left: 90px;
    margin-top: 100px;
    font-size: 50px;
}

#garden_pic{
    background-image: url("../images/garden3.png"); 
    margin-top: -33px;
    margin-left: -310px;
    width: 1001px;
    height: 596px;
    zoom: 45%;

    background-repeat: no-repeat;
}

.budget_con{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 250px;
    background-color: white;
 
    margin: 70px auto;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.budget_text{
    margin-left: -10px;
    margin-top: 160px;
    font-size: 50px;
}

#budget_pic{
    background-image: url("../images/budget2.jpeg"); 
    margin-top: 10px;
    margin-left: 300px;
    width: 533px;
    height: 533px;
    zoom: 45%;
    background-repeat: no-repeat;
}

.bg_modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}

.modal_content{
    position: relative;
    width: 500px;
    max-width: 100%;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;

}

.post_title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}

.post_desc{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: darkgray;
}

.form_control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position:relative;
}

.bg_modal img{
    zoom: 50%;
    margin-bottom: 50px;
    margin-top: 0px;
    /*zoom: 50%;*/
}
/*
.login_input{
    font-family: 'Josefin Sans', sans-serif;
    width: 70%;
    height: 30px;
    display: block;
    
    
    border: none;
    border-radius: 10px;
    font-size: 17px;
    transition: background 0.3s;
    padding: 6px;
}
*/

.form_control input[type=email],
.form_control input[type=password],
.form_control input[type=text]{
    border: 2px solid lightgrey;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    display: block;
    padding: 10px;
    height: 42px;
    width: 400px;
    max-width: 100%;
    margin: 0px auto;
    background-color: lightgrey;
    transition: background 0.5s;
}

.bg_modal4 .form_control input[type=text]{
    margin-top: 30px;
}

/*
.form_control.success input{
    border-color:forestgreen;
}

.form_control.error input{
    border-color: crimson;
}

.form_control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 3px;
}


.form_control.error small{
    visibility: visible;
    color: crimson;
}
*/
/*
.login_input_error{
    border-color: crimson;
}
*/

.form_control input:focus{
    background: white;
}

#button7{
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px auto;
    height: 40px;
    width: max-content;
    padding: 10px;
    background: none;
    color: black;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login_form button{
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px auto;
    height: 40px;
    width: 90px;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.bg_modal2{

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
    z-index: 9999;
}

.bg_modal2 img{
    zoom: 50%;
}

.bg_modal3{

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
    margin-left:0;
    margin-right:0;
}

.bg_modal4{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
    margin-left:0;
    margin-right:0;
}

.bg_modal3 img{
    zoom: 50%;
}

.form_control textarea:hover{
    opacity: 0.6;
    transition: 0.5s;
}

.form_control textarea{
    border: 2px solid lightgrey;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    display: block;
    padding: 10px;
    height: 30px;
    width: 400px;
    height: 80px;
    max-width: 100%;
    margin: 0px auto;
    background-color: lightgrey;
    transition: background 0.5s;
}

/*
.bg_modal2 button{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px auto;
    height: 40px;
    width: 90px;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
*/

.reg_form button{
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px auto;
    height: 40px;
    width: 90px;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.post_form button{
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px auto;
    height: 40px;
    width: 90px;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.collection_form button{
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px auto;
    height: 40px;
    width: 90px;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}

.close2{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}

.close3{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}

.close4{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 9999;
}

/*
.null_msg{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color:crimson;
}

.form_input_error_box{
    color: crimson;
    border-color: crimson;
}

.form_msg {
    text-align: center;
    margin-bottom: 1rem;
}

.form_msg_error{
    color: crimson;
}

.form_msg_success {
    color:forestgreen;
}

.form_control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
*/
